@import url(./variables.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
}

h1 {
  color: var(--PrincipalColor);
  font-family: var(--titlePolice);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: var(--light);
  font-family: var(--titlePolice);
  text-align: center;
  padding: var(--spacing) 0;
}

p {
  color: var(--light);
  font-family: var(--textPolice);
  margin: auto;
}
