:root {
  --light: #fbfcfa;
  --dark: #2e3035;
  --grey: #3d3f43;
  --lightGrey: #babbbc;
  --principalColor: #ff1801;
  --textLight: #dcdee1;

  --textPolice: "Atkinson Hyperlegible", sans-serif;
  --titlePolice: "Racing Sans One", sans-serif;

  --spacing: 1rem;
  --spacingXS: calc(var(--spacing) * 0.75);
  --spacingXXS: calc(var(--spacing) * 0.5);
  --spacingXXXS: calc(var(--spacing) * 0.25);
  --spacingM: calc(var(--spacing) * 1.5);
}
