@import url(../../variables.css);

.rankingGlobalSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rankingSection {
  border-radius: 11px;
  background-color: #3d3f43;
  width: clamp(18rem, 75vw, 35rem);
  margin: var(--spacing) auto;
}

.rankingArticle {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, var(--dark), transparent)
    1;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: var(--spacingM) 0;
}

.rankingPos {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 1.5rem;
}

.rankingName {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.25rem;
}

.rankingConstructor {
  grid-area: 2 / 2 / 3 / 3;
  color: #babbbc;
  font-size: 1rem;
}

.rankingPoints {
  grid-area: 1 / 3 / 3 / 4;
}

@media screen and (min-width: 481px) {
  .rankingGlobalSection {
    flex-direction: row;
    gap: var(--spacingXXS);
  }

  .rankingText {
    font-size: var(--spacing);
    padding: var(--spacing) 0;
  }
}
