@import url("../../variables.css");

.title {
  color: var(--principalColor);
  text-align: center;
  font-family: var(--titlePolice);
  font-size: 1.5rem;
  margin-top: var(--spacing);
}

.circuitGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing);
  max-width: 1200px;
  margin: var(--spacingM) auto;
  list-style-type: none;
}

.circuitItem {
  background-color: var(--grey);
  padding: var(--spacingXS);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
  color: var(--textLight);
}

.circuitItem:hover {
  transform: translateY(-5px);
}

.circuitItem h3 {
  font-size: 1rem;
  color: var(--textLight);
  font-family: var(--textPolice);
}

.circuitItem p {
  margin-top: var(--spacingXXS);
  font-size: 0.8rem;
  color: var(--lightGrey);
  font-family: var(--textPolice);
}

@media (min-width: 481px) {
  .title {
    font-size: 2rem;
    margin-top: var(--spacingM);
  }

  .circuitGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacingM);
  }

  .circuitItem {
    padding: var(--spacing);
  }

  .circuitItem h3 {
    font-size: 1.25rem;
  }

  .circuitItem p {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) {
  .title {
    font-size: 2.5rem;
  }

  .circuitGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing);
  }

  .circuitItem h3 {
    font-size: 1.5rem;
  }

  .circuitItem p {
    font-size: 1rem;
  }
}
