@import url("../../variables.css");

/*.circuitPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing);
}

.raceCountdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  text-align: center;

  /*background-image: url("../../assets/images/countdown_bg.avif");
  background-size: cover;
  background-position: center 75%;
  border-bottom: 5px solid var(--principalColor);
  border-top: 5px solid var(--principalColor);
}

.circuitListContainer {
  margin-top: var(--spacingM);
  width: 100%;
}*/
