@import url("../../variables.css");

.circuitPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  background-color: var(--dark);
  padding: var(--spacing);
}

.raceCountdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50vh;
  width: 100%;
  text-align: center;
}

.circuitListContainer {
  margin-top: var(--spacingM);
  width: 100%;
}
