.stables-container {
	color: #fbfcfa;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	text-align: center;
	border-radius: 1.5rem;
	height: 50%;
	justify-items: center;
	margin: 0 auto;
	box-shadow: 0.5rem 0.5rem 0.7rem rgba(0.5, 0.5, 0.5, 0.7);
	width: 60%;
	row-gap: 80px;
	margin-top: 5rem;
	border: 1px solid rgba(0.5, 0.5, 0.5, 0.7);
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	font-size: 1.3rem;
}

.stable-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flag {
	width: 50px;
	height: auto;
	margin-bottom: 10px;
}
