* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h2 {
  text-transform: none;
  max-width: 100%;
  color: var(--light);
  font-family: var(--titlePolice);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.stables-container {
  color: var(--light);
  font-family: var(--textPolice);
  font-size: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.stable-item {
  background-color: var(--grey);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Important pour positionner le .drivers-container */
  height: 25rem; /* Fixe la hauteur de l'élément */
  width: 15rem; /* Fixe la largeur de l'élément */
  overflow: hidden;
}

.flag {
  width: 10rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
}

@media (min-width: 481px) {
  @media (min-width: 481px) {
    .stables-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 8rem;
      margin-right: 8rem;
      gap: 5rem;
      justify-items: center;
    }

    .stable-item {
      height: 25rem; /* Fixe la hauteur de l'élément */
      width: 25rem;
    }
    .flag:hover {
      transform: scale(1.1);
      transform-origin: center;
    }
  }
}
