@import url("../../variables.css");

.hautPage {
  background-color: var(--dark);
}

.logo {
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 1rem;
}
.lien {
  color: var(--light);
  text-decoration: none;
}
.lien:hover {
  color: var(--principalColor);
}
.NavBar .liens {
  font-family: var(--textPolice);
  color: var(--light);
  margin-top: 2.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 481px) {
  .logo {
    height: 50px;
  }
}
